<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Station_Name" value="ROSA Alignment1"/>
		<add key="Model_Name" value="ROSA 5G"/>
		<add key="PSU_Port" value="GPIB0::2::INSTR"/>
		<add key="DMM_Port" value="GPIB0::11::INSTR"/>
		<add key="PM_Port" value="GPIB0::15::INSTR"/>
		<add key="Arduino_Port" value="COM7"/>
		<add key="Duty_Cycle" value="0"/>
		<add key="Min_Supply_Current" value="44"/>
		<add key="Max_Supply_Current" value="50"/>
		<add key="Min_Supply_Voltage" value="3"/>
		<add key="Max_Supply_Voltage" value="3.6"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>